<div>
<table class="table-sm table-bordered" style="width:50%;padding:10px;">

    {{#each data}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.distinctCount}}</td>

        </tr>



    {{/each}}

</table>
</div>